<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <meta name="author" content="Richard Li">
    <meta name="description" content="Richard Li is a Senior Software Development Engineer at Amazon"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0">

    <style>
        {% capture include_to_sassify %}
        {% include normalize.css %}
        {% include scss/main.scss %}
        {% endcapture %}
        {{ include_to_sassify | scssify }}
    </style>

    {% unless page.main %}
    <style>
        header { height: 450px; }
    </style>
    {% endunless %}
</head>
<body>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "Person",
            "name": "Richard Li",
            "jobTitle": "Senior Software Development Engineer",
            "url": "https://richardli.me",
            "sameAs": ["https://github.com/rli", "https://linkedin.com/in/richardsli"],
            "alumniOf": {
                            "@type": "EducationalOrganization",
                            "url": "http://uci.edu",
                            "name": "University of California, Irvine"
                        }
        }
    </script>
    <header>
        <div>
            <div>
                <h2>Hey, I'm</h2>
                <h1>Richard Li</h1>
                <p>
                    I am a <span>Senior Software Development Engineer</span> at
                        <span>Amazon</span>.
                </p>
                <ul>
                    <li><a href="https://github.com/rli">github</a></li>
                    <li><a href="https://linkedin.com/in/richardsli">linkedin</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li><a href='m&#97;ilto&#58;&#37;6D%65%&#52;&#48;%7&#50;&#105;%63hardl&#37;69&#37;2Eme'>me&#64;&#114;i&#99;h&#97;&#114;dli&#46;m&#101;</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap" />
</body>
</html>
