$uciblue: #1b3d6d;
$ucigold: #ffd200;

html {
    font-display: swap;
    font: 16px/24px "Open Sans", Helvetica, "Helvetica Neue", Arial;
}

body {
    background: rgba(37, 37, 37, 0.95);
    color: white;
}

nav, header {
    text-shadow: 0px 1px black;
}

nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 100;
    font-size: .95em;

    background:
    linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
        );

    ul {
        list-style: none;
        padding: 0.3rem 1.25rem;
        li {
            display: inline;
            &:not(:first-child):before {
                content: ' | ';
            }
        }

    }

    a {
        color: white;
        text-decoration: none;

        &:hover {
            color: grey;
        }
    }
}

header {
    height: 100vh;
    background:
        linear-gradient(
            rgba(37, 37, 37, 0.6),
            rgba(37, 37, 37, 0.6)
        ),
        url("/res/img/seattle-lq.jpg"),
        no-repeat center center fixed;

    background:
        linear-gradient(
            rgba(37, 37, 37, 0.6),
            rgba(37, 37, 37, 0.6)
        ),
        image-set(
            url("/res/img/seattle-lq.avif") type("image/avif"),
            url("/res/img/seattle-lq.jpg") type("image/jpeg"),
        ),
        no-repeat center center fixed;

    background-size: cover;

    & > div { // container for nav & intro block
        position: relative;
        height: inherit;
    }

    & > div > div { // intro text
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        // text-align: center;
        transform: translate(-50%, -50%);
        width: 85%;

        h1 {
            font-size: 4em;
            font-weight: 300;
            line-height: 1.25em;
            margin: 0;
        }
        h2 {
            font-size: 3em;
            font-weight: 300;
            line-height: 1.25em;
            margin: 0;
        }

        p {
            margin-top: -0.3em;
            font-size: 1.333em;
            // background: $uciblue;
            line-height: 1.5em;

            span {
                font-weight: 300;
                color: $ucigold;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
            }

            a {
                display: block;
                text-align: center;
                border: solid 0.06rem #ffffff;
                border-radius: 0.25rem;
                
                min-width: 4rem;
                height: 3rem;
                max-height: 4rem;
                line-height: 3rem;
                padding: 0 1rem;
                
                text-transform: uppercase;
                letter-spacing: 0.2rem;
                font-size: 0.8rem;

                margin: 0.2rem;

                transition: all 0.125s ease-in-out;

                color: white;
                text-decoration: none;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                &:active {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }

    }
}

#content {
    width: 95%;
    max-width: 960px;
    margin: 25px auto 75px;

    h2 {
        color: #ffd200;
        margin-top: 75px;
    }

    a {
        color: #90A7BF;

        &:hover {
            color: white;
        }
    }

    img {
        max-width: 100%;
    }

    p > code {
        padding: 0.3em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
    }
}

.project {
    span {
        font: 0.8em/0.8em monospace;
        padding: 0.3em;
        margin: 0;
        font-size: 85%;
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
    }
    & > div {
        overflow: auto;
        padding: 25px 0;

        &:not(:first-of-type) {
            border-top: 1px solid white;
        }

        ul {
            margin: 0;
            margin-left: 130px;
            li {
                list-style: none;
                padding: 1px 0;

                &:before {
                    content: "- ";
                }
            }
        }
        img {
            width: 125px;
            float: left;
            margin-right: 40px;
            border-radius: 100%;
        }
    }
}

.highlight {
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;

    > pre {
        font-size: 0.8em;
        padding: 1em;
    }
}

.chron {
    padding: 0;
    li {
        list-style: none;
    }
}

.more {
    font-size: 1.11em;
    margin-top: 10px;
    float: right;
}

td, th {
    padding: 0 5px;
    border-right: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

td:last-child, th:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

@media screen and (min-width: 720px), screen and (max-height: 400px) {
    header {
        & > div > div ul {
            flex-direction: row;
        }
    }
}

@media screen and (max-height: 400px) {
    header {
        font-size: 3vh;
    }
}

